implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<flow name="CreateIncident" doc:id="b7fad7d7-3b90-49bc-9643-e867691ef8a2" >
		<http:listener doc:name="Listener" doc:id="cb443ede-d385-441c-a5fd-bb50f422a726" config-ref="HTTP_Listener_config" path="/create-incident"/>
		<logger level="INFO" doc:name="Logger" doc:id="515c0930-ba26-4546-99cc-becf5c1b7781" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="e05039ac-0b53-4611-9a26-4a0d2f2e6d8b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke doc:name="Create incident" doc:id="76a71cb4-8737-438d-8501-ef5c8c0850ed" service="incident" operation="insert" config-ref="ServiceNow_Config" allowEmptyValue="true">


		</servicenow:invoke>
		<ee:transform doc:name="Transform Message" doc:id="b71a6c6a-5850-40cf-ab3c-668ab1e51287" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.insertResponse.number
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c2b44f84-0a78-4821-b2d0-0ac9689cdb36" message="#[payload]"/>
	</flow>
	<flow name="UpdateIncident" doc:id="b7537aa2-b371-463b-bbe4-76a1a1bc1634" >
		<http:listener doc:name="Listener" doc:id="ced7d903-58df-4db8-afee-bab4606cd847" config-ref="HTTP_Listener_config" path="/update-incident" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="23fd77a8-f4a9-40ef-a9b9-a8b8a94798b0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="fa163451-7a19-4208-bc27-c5b73d8ed454" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke doc:name="Update incident" doc:id="b14cca8d-e779-4813-8287-25c2d9f99f76" service="incident" operation="update" config-ref="ServiceNow_Config" allowEmptyValue="true">
		</servicenow:invoke>
		<ee:transform doc:name="Transform Message" doc:id="592a3767-ead0-4d21-889e-35db9bc1a364" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Updated incident"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="240db810-b981-4814-b055-e05ff44259d2" message="#[payload]"/>
	</flow>
</mule>
